# GCP Settings
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=US
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/sa-key.json

# BigQuery Settings
BIGQUERY_DATASET_ID=chicago_311_lakehouse

# Lakehouse Settings
LAKEHOUSE_BUCKET=gs://chicago-311-lakehouse-bucket

# Socrata API
SOCRATA_APP_TOKEN=your_token_here
